<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 style="background-color:black; color:whitesmoke;">COMPANYTITLEOFAWESOMENESS/ACME</h1>
    
    <div id="Wrapper" style="background-color:#ff5de4">
        @RenderBody()
    </div>
    <p style="background-color:black; color:whitesmoke;">This is a footer</p>
    @*@RenderSection("com", true)
        <div class="combox">
            layoutfil
        </div>*@
</body>
</html>