@using MVCContactList.ViewModels
@model ListPersonViewModel

@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}*@

@if (Model.ShowAsHighlighted)
{
    <tr style="background-color:red;">
        <td>@Model.Name</td>
        <td>@Model.Email</td>
    </tr>
}
else
{
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
    </tr>
}
