@using MVCContactList.ViewModels
@model CreatePersonViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.Taghelpers"

<html>
<head>
    <title>Create Contact</title>
</head>
<body>
    <h1>Create Contact</h1>
    <div asp-validation-summary="ValidationSummary.All"></div>
    <form asp-controller="Customers" asp-action="Create">
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="Company" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Address" />
        <span asp-validation-for="Email"></span>

        <label asp-for="AcceptTerms"></label>
        <input asp-for="AcceptTerms" />

        <input type="submit" value="Create" />
    </form>
</body>
</html>