@using MVCContactList.ViewModels
@model CreatePersonViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.Taghelpers"

<html>
<head>
    <title>Create Contact</title>
</head>
<body>
    <h1>Create Contact</h1>
    <div asp-validation-summary="ValidationSummary.All"></div>

    <form asp-controller="Customers" asp-action="Create">
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="First Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Address" />
        <span asp-validation-for="Email"></span>
        <br />
        <label asp-for="AcceptTerms"></label>
        <input asp-for="AcceptTerms" type="checkbox" />
        <span asp-validation-for="AcceptTerms" />

        @*<a asp-controller="People" asp-action="Create">Skapa ny kontakt</a>*@
        <input type="submit" onclick="window.location='/contacts/index'" value="Create" />
    </form>
</body>
</html>