@using MVCContactList.ViewModels
@model ListPersonViewModel[]
@addTagHelper "*, Microsoft.AspNet.Mvc.Taghelpers"

<html>
<head>
    <titel>Personer</titel>
</head>
<body>
    <h1>Alla Kontakter</h1>
    <table>
        <tr>
            <th>Förnamn</th>
            <th>E-post</th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>
                    @if (person.ShowAsHighlighted)
                    {
                    <td style="color: forestgreen">
                        @person.Email
                    </td>
                    }
                    else
                    {
                        <td>@person.Email</td>
                    }
                    </td>
                </tr>
        }
    </table>
    <br /><br />

    <a asp-controller="People" asp-action="@nameof(MVCContactList.Controllers.ContactsController.Create)">Skapa ny kontakt</a>
    @*<input onclick="window.location='/contacts/create'" type="button" value="Skapa ny kontakt" />*@
</body>
</html>
