@using MVCContactList.ViewModels
@model CreatePersonViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.Taghelpers"

<html>
<head>
    <titel>Personer</titel>
</head>
<body>
    <h1>Alla Kontakter</h1>

    <p>@Model.Name</p>
    <p>@Model.Email</p>
    @*<table>
        <tr>
            <th>Namn</th>
            <th>E-post</th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Email</td>
            </tr>
        }
    </table>*@
    <br /><br />
    <input onclick="http://localhost:10112/contacts/create" type="button" value="Lägg till" />
</body>
</html>