@using MVCContactList.ViewModels
@model ListPersonViewModel[]
@addTagHelper "*, Microsoft.AspNet.Mvc.Taghelpers"

<html>
<head>
    <titel>Personer</titel>
</head>
<body>
    <h1>Alla Kontakter</h1>
    <table>
        <tr>
            <th>Förnamn</th>
            <th>E-post</th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Email</td>
            </tr>
        }
    </table>
    <br /><br />
    <input e-="http://localhost:8635/contacts/create" type="button" value="Skapa ny kontakt" />
</body>
</html>

