@using MVCContactList.ViewModels
@model ListPersonViewModel[]
@addTagHelper "*, Microsoft.AspNet.Mvc.Taghelpers"

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}


<h1>Alla Kontakter</h1>
<table>
    <tr>
        <th>Förnamn</th>
        <th>E-post</th>
    </tr>
    @foreach (var person in Model)
    {
        @Html.Partial("ContactBox", person);
    }
</table>
<br /><br />
<input onclick="window.location='/contacts/create'" type="button" value="Skapa ny kontakt" />


@*@section com
{
    <div class="combox"><h1>Läsa</h1></div>
}*@